<div class="mb-35">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Profile</h1>

    <!-- DataTales Example -->

    <form  [formGroup]="adminForm">
        <div class="row">
            <div class="col-md-8"><span id="message"></span>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="row">
                            <div class="col">
                                <h6 class="m-0 font-weight-bold text-primary">Profile</h6>
                            </div>
                            <div clas="col" align="right">
                                <input type="hidden" name="action" value="admin_profile" />
                                <button type="submit" name="edit_button" id="edit_button" (click)="edit_button_cliked()"
                                    class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Edit</button>
                                &nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <!--<div class="row">
                                    <div class="col-md-6">!-->
                        <div class="form-group">
                            <label>Admin Name</label>
                            <input type="text" formControlName="admin_name" class="form-control" required
                                data-parsley-pattern="/^[a-zA-Z0-9 \s]+$/" data-parsley-maxlength="175"
                                data-parsley-trigger="keyup" />
                        </div>
                        <div class="form-group">
                            <label>Admin Email Address</label>
                            <input type="text" formControlName="admin_email_address"  class="form-control"
                                required data-parsley-type="email" data-parsley-trigger="keyup" />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="admin_password" class="form-control"
                                required data-parsley-maxlength="16" data-parsley-trigger="keyup" />
                        </div>
                        <div class="form-group">
                            <label>Hospital Name</label>
                            <input type="text" formControlName="hospital_name" class="form-control" required
                                data-parsley-trigger="keyup" />
                        </div>
                        <div class="form-group">
                            <label>Hospital Address</label>
                            <textarea formControlName="hospital_address" class="form-control"
                                required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Hospital Contact No.</label>
                            <input type="text" formControlName="hospital_contact_no" class="form-control"
                                required data-parsley-trigger="keyup" />
                        </div>
                        <div class="form-group">
                            <label>Hospital Logo</label><br />
                            <input type="file" formControlName="hospital_logo" id="hospital_logo" />
                            <span id="uploaded_hospital_logo"></span>
                        </div>
                        <!--</div>
                                </div>!-->
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>