.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
a{
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #224abe;
    text-decoration: underline;
}