<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
            *ngIf="router != '/admin/login'">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/admin/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                <i class="fas fa-laugh-wink"></i>
                <div class="sidebar-brand-text mx-3">Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item" *ngIf="user_info.role=='admin'">
                <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item" *ngIf="user_info.role=='admin'">
                <a class="nav-link" routerLink="/admin/doctor" routerLinkActive="active">
                    <i class="fas fa-user-md"></i>
                    <span>Doctor</span></a>
            </li>
            <li class="nav-item" *ngIf="user_info.role=='admin'">
                <a class="nav-link" routerLink="/admin/patient" routerLinkActive="active">
                    <i class="fas fa-procedures"></i>
                    <span>Patient</span></a>
            </li>
            <li class="nav-item" *ngIf="user_info.role=='admin' || user_info.role=='doctor'">
                <a class="nav-link" routerLink="/admin/doctor-schedule" routerLinkActive="active">
                    <i class="fas fa-user-clock"></i>
                    <span>Doctor Schedule</span></a>
            </li>

            <li class="nav-item" *ngIf="user_info.role=='admin' || user_info.role=='doctor'">
                <a class="nav-link" routerLink="/admin/appointment" routerLinkActive="active">
                    <i class="fas fa-notes-medical"></i>
                    <span>Appointment</span></a>
            </li>
            <li class="nav-item" *ngIf="user_info.role=='admin'">
                <a class="nav-link"  routerLink="/admin/profile" routerLinkActive="active">
                    <i class="far fa-id-card"></i>
                    <span>Profile</span></a>
            </li>
            <li class="nav-item" *ngIf="user_info.role=='doctor'">
                <a class="nav-link"  routerLink="/admin/doctor-profile" routerLinkActive="active">
                    <i class="far fa-id-card"></i>
                    <span>Profile</span></a>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
                    *ngIf="router != '/admin/login'">
                    <div class="text-center"><h2><a href="https://www.webslesson.info/2021/02/online-doctor-appointment-system-project-in-php-mysql.html">Online Doctor Appointment Management System</a></h2></div>
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                   <!-- Topbar Navbar -->
                   <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" id="user_profile_name">
                            </span>
                            <div class="dropdown">
                                <img class="img-profile rounded-circle dropdown-toggle" src="/assets/user.jpeg"
                                    type="img" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownmenu">
                                    <a class="dropdown-item" href="admin/profile">Profile</a>
                                    <a class="dropdown-item" (click)="logout()">Logout</a>
                               </div>
                            </div>
                            <!-- <img class="img-profile rounded-circle" src="/assets/user.jpeg"    
                                id="user_profile_image"> -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" routerLink="/admin/profile">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" routerLink="/admin/doctor-profile">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

                </nav>
                <!-- End of Topbar -->
            </div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
            
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <!-- <div class="copyright text-center my-auto"> -->
                        <!-- <span>Copyright &copy; Webslesson <?php echo date('Y'); ?></span> -->
                    <!-- </div> -->
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>