<div class="mb-35">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Doctor Schedule Management</h1>

    <!-- DataTales Example -->
    <span id="message"></span>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col">
                    <h6 class="m-0 font-weight-bold text-primary">Doctor Schedule List</h6>
                </div>
                <div class="col" align="right">
                    <button type="button" name="add_exam" id="add_doctor_schedule"
                        class="btn btn-success btn-circle btn-sm"><i class="fas fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="doctor_schedule_table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <!-- <?php
                                            if($_SESSION['type'] == 'Admin')
                                            {
                                            ?> -->
                            <th>Doctor Name</th>
                            <!-- <?php
                                            }
                                            ?> -->
                            <th>Schedule Date</th>
                            <th>Schedule Day</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Consulting Time</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>